{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>{{ tasks.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update'  tasks.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete'  tasks.id %}">Delete</a>
            </p>
           
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list in tasks.items.all %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' list.id%}">{{ list.task }}</a></td>
                        <td>{{ list.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
